
<div>
	<table>
	<thead>
		<tr>
			<th>Player</th>
			<th>Game</th>
		</tr>
	</thead>
		<tbody>
		{% for player in setup %}
		<tr>
			<td>{{player.alias}}</td>
			{% if player.nextgame %}
			<td>{{player.nextgame.datetime}}
				<br>
			{{player.nextgame.opponent}}
				</td>
			{% else %}
			<td>---
				<br>
			---
				</td>
			{% endif %}			
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
