
<div>
	<table>
		<tr>
			<th>Player</th>
			<th>Game</th>
		</tr>
		<tr>
			<td>Quentin</td>
			<td>{{Quentin.datetime}}
				<br>
			{{Quentin.opponent}}
				</td>
		</tr>
		<tr>
			<td>Virgile</td>
			<td>{{Virgile.datetime}}
				<br>
			{{Virgile.opponent}}
				</td>
		</tr>
	</table>
</div>
