<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
<div>
	<table>
		<tr>
			<th>Name</th>
			<th>Time @Opponent</th>
		</tr>
		<tr>
			<td>Quentin</td>
			<td>yeet</td>
		<tr>
			<td>Virgile</td>
			<td>yeetus</td>
	</table>
</div>
